<div class="wrapper">
  <header>
    <h1>Jens Wiederspohn</h1>

    <p style="color:#6f777d"><b>Visiting Scholar in Political Science, Yale University</b></p>
    <p style="color:#6f777d;font-weight:bold">MSc Student in Social and Economic Data Science, University of Konstanz</p>

    <p>
      I study political methodology as well as American and comparative political behavior. I am currently a Visiting Scholar in Political Science at Yale University for the 2025–26 academic year, hosted by Shiro Kuriwaki, and an MSc student in Social and Economic Data Science at the University of Konstanz. My work focuses on causal and descriptive inference under selection bias and measurement error, and on generalization across populations under distributional and conditional differences, particularly in representation and electoral behavior. I previously received a Bachelor’s degree in Politics and Public Administration from the University of Konstanz, graduating with distinction as top of my class, and completed exchange studies at the University of Leeds, the University of Zurich, and ETH Zurich. Since 2022, I have worked as a research assistant to Peter Selb and earlier as a teaching assistant to Susumu Shikano.
    </p>

    <hr width="100%">

    <div class="is-container-row is-center">
      <div class="is-inset-8">
        <a href="https://github.com/jenswiederspohn" class="is-icon">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>

    <br>

    <p>
      jens.wiederspohn@yale.edu<br>
      Yale University<br>
      New Haven, CT 06511
    </p>
  </header>
</div>
